*{
margin:0px;
padding:0px;
}
body{
background-image:url("photos/b17.jpg");
background-size:cover;
background-position:bottom-left;

}


table{
width:100%;
border:3px solid black;
border-collapse:collapse;
}

th,td{
padding:5px;
border:1px solid black;
border-collapse:collapse;
font-size:2vw;
word-wrap:break-word;
text-align:center;
background-color:RGB(240,240,240);
}

caption{
font-size:3vw;
font-weight:bold;
color:black;
}

p{
width:70%;
font-size:2vw;
background-color:RGB(240,240,240);
border:0px solid black;
font-weight:bold;

}


@media (max-width:800px){
table{
margin:0px;
width:100%;
margin:0px;
border:1px solid black;
border-collapse:collapse;
}

th,td{
width:20%;
padding:5px;
border:1px solid black;
border-collapse:collapse;
font-size:3vw;
word-wrap:break-word;
text-align:center;

}




caption{
font-size:5vw;
font-weight:bold;
}

p{
font-size:3vw;
}


@media (max-width:500px){
table{
margin:0px;
width:100%;
margin:0px;
border:1px solid black;
border-collapse:collapse;
}

th,td{

padding:5px;
border:1px solid black;
border-collapse:collapse;
font-size:4vw;
word-wrap:break-word;
text-align:center;
font-weight:bold;
}



caption{
font-size:6vw;
font-weight:bold;
}

p{
width:70%;
font-size:5vw;
font-weight:bold;
}

}